/* ********************************* */
/* GLOBAL STYLES */
/* ********************************* */

body {
  text-align: center;
  font-family: "VT323", monospace;
  color: #1f363d;
}

ul, li {
  margin: 0;
  padding: 0;
}

/* ********************************* */
/* SCORE PANEL STYLES */
/* ********************************* */

.score-panel {
  width: 505px;
  margin: 0 auto -2rem;
  text-align: right;
}

.hearts img {
  max-width: 32px;
}

}
