/* ********************************* */
/* GLOBAL STYLES */
/* ********************************* */

body {
  text-align: center;
  font-family: "VT323", monospace;
  color: #1f363d;
}

ul, li {
  margin: 0;
  padding: 0;
}

.credit {
  margin: 0 auto;
  font-size: 0.9rem;
  color: #b28fee;
  text-align: center;
}

/* ********************************* */
/* SCORE PANEL STYLES */
/* ********************************* */

.score-panel {
  width: 505px;
  margin: 0 auto -2rem;
  text-align: right;
}

.hearts img {
  max-width: 32px;
}

/* ********************************* */
/* MODAL STYLES */
/* ********************************* */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 2vh auto 0;
  padding: 0;
  border: 1px solid #030a39;
  width: 70vw;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation-name: animatetop;
  animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  text-align: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  padding: 0.25em;
  background-color: #3e328a;
  color: #eed075;
  font-size: 1.5em;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.modal-body {
  padding: 1em 0.5em;
  font-size: 1.2em;
}

.modal-footer {
  padding: 1em;
  background-color: #3e328a;
  color: #b28fee;
}

.restart {
  padding: 10px 15px;
  background-color: #facb2a;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  margin: 1em;
  color: #632987;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(46, 55, 73, 0.2);
  box-shadow: 0 2px 5px 0 rgba(46, 55, 73, 0.2);
}
